# no incluir la carpeta con los datos
dataset/SkeletonData
dataset/readme.txt
Resultados/raw_pacientes.csv
Resultados/angles.csv
.slugignore
app.py
Procfile
setup.sh
Notebooks/fase_1.ipynb
Notebooks/fase_2.ipynb
